@import url('https://fonts.googleapis.com/css?family=Viga&display=swap');

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

@font-face {
    font-family: main-font;
    src: url("../../assets/fonts/Acme-Regular.ttf");
}

@font-face {
    font-family: p-font;
    src: url("../../assets/fonts/Rubik-Light.ttf");
}

@font-face {
    font-family: heading-font;
    src: url("../../assets/fonts/Amble-Bold.ttf");
}

h1 {
    font-family: main-font;
    text-align: center;
    font-style: italic;
    font-size: xx-large;
}

.heading {
    font-family: main-font;
    text-align: center;
    height: 70px;
    color: black;
    padding-top: 20px;
    align-items: center;
}
