@import url('https://fonts.googleapis.com/css?family=Viga&display=swap');

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.footer {
    position: absolute;
    bottom: 0;
    height: 20px;
    background: #f0f0f0;
    width: 100%;
}

@font-face {
    font-family: main-font;
    src: url("../fonts/Acme-Regular.ttf");
}

@font-face {
    font-family: p-font;
    src: url("../fonts/Rubik-Light.ttf");
}

@font-face {
    font-family: heading-font;
    src: url("../fonts/Amble-Bold.ttf");
}

footer {
    display: flex;
    justify-content: space-around;
    margin: 20px 0 20px 0;
    background-color: black;
}

footer h1 {
    font-family: 'Big Shoulders Text', cursive;
}

footer #footerul {
    list-style-type: none;
    padding-left: 150px;
    padding-top: 8px;
}

footer #footerul .footerli {
    padding-right: 10px;
    float: left;
}

footer #footerul .footerli i {
    border: 1px solid white;
    padding: 10px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

.footer-heading {
    color: white;
}

.footerli:hover {
    transform: scale(1.2);
}

/* Responsive (for tablet) */
@media only screen and (max-width: 1028px) {

    footer #footerul {
        padding-left: 0px;
    }

    footer #footerul .footerli i {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 6px;
        padding-right: 6px;
        border-radius: 50%;
    }
}

/* Responsive (for mobile devices) */
@media screen and (max-width: 600px) {

    footer #footerul {
        padding-left: 0px;
    }

    footer #footerul .footerli i {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 3px;
        padding-right: 3px;
        border-radius: 50%;
    }
}
