@import url('https://fonts.googleapis.com/css?family=Viga&display=swap');

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

@font-face {
    font-family: main-font;
    src: url("../../assets/fonts/Acme-Regular.ttf");
}

@font-face {
    font-family: p-font;
    src: url("../../assets/fonts/Rubik-Light.ttf");
}

@font-face {
    font-family: heading-font;
    src: url("../../assets/fonts/Amble-Bold.ttf");
}

h1 {
    font-family: main-font;
    text-align: center;
    font-style: italic;
    font-size: xx-large;
}

.heading {
    font-family: main-font;
    text-align: center;
    height: 70px;
    color: black;
    padding-top: 20px;
    align-items: center;
}

input[type=submit] {
    background-color: black;
    color: white;
    cursor: pointer;
}

input[type=submit]:hover {
    border: 2px solid yellow;
}

img{
    border: 4px solid black;
}

.container {
    position: relative;
    width: 40%;
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.container:hover .image {
    opacity: 0.3;
}

.container:hover .middle {
    opacity: 1;
}

.text {
    background-color: black;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}

a{
    text-decoration: none;
}